<%- include('partials/header') %>

    <div class="content">
        <h1>Home</h1>

        <p class="content">
            <%= homeContentFromEjs %>
        </p>
    </div>

    <%- include('partials/footer') %>